@charset "utf-8";
/* CSS Document */

*{margin:0px;
padding:0px;
	}
body {
	background:#00CCFF;}

nav {
	width:100%;
	height:100px;
	background-position:center;
	background-image:url(../imagenes/primerpantalla/menu.png);
	}
#menu {
	margin:auto;
	width:1200px;
	padding-top:25px;
	}
#logo {
	width:292px;
	height:50px;
	background-position:center;
	background-repeat:no-repeat;
	background-image:url(../imagenes/primerpantalla/logo.png);
	float:left;
	margin-left:34px;
	margin-top:0px;
	transition:.3s;
	}

#logo:hover {

	background-repeat:no-repeat;
	background-position:center;
	background-image:url(../imagenes/primerpantalla/logoh.png);	
	transition:.3s;
	}

#home {
	width:51px;
	height:42px;
	background-image:url(../imagenes/primerpantalla/home.png);
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	padding-right:20px;
	margin-left:300px;
	margin-top:0px;
	transition:.4s;}
	
#home:hover {
	transition:.4s;
	background-image:url(../imagenes/primerpantalla/homehover.png);
	background-position:center;
	background-repeat:no-repeat;
	}

.idiomas {
	padding-top:5px;
	text-align:center;
	width:129px;
	height:55px;
	float:left;
	margin-left:23px;
	margin-top:0px;
	color:#FFF;
	font-family: 'keep_calm_medregular';
	font-size:25px;
	text-shadow: 3px 1px 0px #003366;
	transition:.4s;
	}
.idiomas:hover {
	padding-top:10px;
	background-image:url(../imagenes/primerpantalla/idioh.png);
	background-position:center;
	background-repeat:no-repeat;
	transition:.4s;
	}
.cursos {
	padding-top:5px;
	text-align:center;
	color:#FFF;
	font-family: 'keep_calm_medregular';
	font-size:25px;
	text-shadow: 3px 1px 0px #003366;
	width:115px;
	height:55px;
	float:left;
	margin-left:13px;
	margin-top:0px;
	transition:.4s;
	}
.cursos:hover {
	padding-top:10px;
	background-image:url(../imagenes/primerpantalla/cursosh.png);
	background-position:center;
	background-repeat:no-repeat;
	transition:.4s;
	}

.contactanos {
	width:202px;
	height:55px;
	float:left;
	margin-left:0px;
	margin-top:0px;
	transition:.4s;
	padding-top:5px;
	text-align:center;
	color:#FFF;
	font-family: 'keep_calm_medregular';
	font-size:25px;
	text-shadow: 3px 1px 0px #003366;
	}
.contactanos:hover {
	padding-top:10px;
	background-image:url(../imagenes/primerpantalla/contactanosh.png);
	background-position:center;
	background-repeat:no-repeat;
	transition:.4s;
	}
/*-----------------------Sabatino-------------------------*/

#ingles {
	width:100%;
	height:650px;
	background-size:100%;
	background-image:url(../imagenes/principal/Cursos/fondo.png);}

#contenedor {
	margin:auto;
	width:1280px;
	}
#idioma {
	float:left;
	margin-left:-800px;
	margin-top:200px;
	}
#idioma p {
	margin-left:-40px;
	color:#FFF;
	font-family: 'keep_calm_medregular';
	font-size:40px;
	}
#botondere{
	width:33px;
	height:37px;
	float:left;
	background-image:url(../imagenes/idiomas/ingles/botonder.png);
	background-position:center;
	background-repeat:no-repeat;
	margin-left:-650px;
	margin-top:320px;
	transition:.4s;
	}
#botondere:hover{
	background-image:url(../imagenes/idiomas/ingles/botonderh.png);
	background-position:center;
	background-repeat:no-repeat;
	transition:.4s;}
#botonizq{
	width:33px;
	height:37px;
	float:left;
	background-image:url(../imagenes/idiomas/ingles/botonizq.png);
	background-position:center;
	background-repeat:no-repeat;
	margin-left:-900px;
	margin-top:320px;
	transition:.4s;
	}
#botonizq:hover{
	background-image:url(../imagenes/idiomas/ingles/botonizqh.png);
	background-position:center;
	background-repeat:no-repeat;
	transition:.4s;}
#invitacion {
	float:left;
	margin-left:500px;
	margin-top:10px;
	}
#titulo {
	float:left;
	margin-left:0px;
	margin-top:0px;
	}	

#sabatino {
	background-image:url(../imagenes/idiomas/ingles/sabatino.png);
	background-position:center;
	background-repeat:no-repeat;
	float:left;
	width:109px;
	height:193px;
	margin-left:-500px;
	margin-top:360px;
	transition:.4s;
	}

#sabatino:hover{
	margin-left:-550px;
	margin-top:320px;
	width:192px;
	height:262px;
	background-image:url(../imagenes/idiomas/ingles/sabatinoh.png);
	background-position:center;
	background-repeat:no-repeat;
	transition:.4s;
	}

	
#semi {
	background-image:url(../imagenes/idiomas/ingles/semi.png);
	background-position:center;
	background-repeat:no-repeat;
	float:left;
	width:109px;
	height:193px;
	margin-left:-325px;
	margin-top:360px;
	transition:.4s;
	}

#semi:hover{
	margin-left:-350px;
	margin-top:320px;
	width:163px;
	height:262px;
	background-image:url(../imagenes/idiomas/ingles/semih.png);
	background-position:center;
	background-repeat:no-repeat;
	transition:.4s;
	}
#intensivo {
	background-image:url(../imagenes/idiomas/ingles/intensivo.png);
	background-position:center;
	background-repeat:no-repeat;
	float:left;
	width:109px;
	height:193px;
	margin-left:-145px;
	margin-top:360px;
	transition:.4s;
	}

#intensivo:hover{
	margin-left:-180px;
	margin-top:320px;
	width:195px;
	height:262px;
	background-image:url(../imagenes/idiomas/ingles/intensivoh.png);
	background-position:center;
	background-repeat:no-repeat;
	transition:.4s;
	}
#corporativo {
	float:left;
	background-image:url(../imagenes/idiomas/ingles/corporativo.png);
	background-position:center;
	background-repeat:no-repeat;
	width:109px;
	height:193px;
	margin-left:30px;
	margin-top:365px;
	transition:.4s;
	}
	
#corporativo:hover{
	margin-left:10px;
	margin-top:320px;
	width:213px;
	height:237px;
	background-image:url(../imagenes/idiomas/ingles/corporativoh.png);
	background-position:center;
	background-repeat:no-repeat;
	transition:.4s;
	}

/*------------------footer-----------------*/

#pie {
	margin:auto;
	width:1280px;
	}
footer {
	width:100%;
	height:173px;
	background-image:url(../imagenes/primerpantalla/footer.png);
	background-repeat:no-repeat;
	background-size: 100% 173px;
	}
#informacion {
	mar
	float:left;
	width:355px;
	height:133px;
	}
#logopeq {
	float:left;
	margin-left:148px;
	margin-top:18px;
	}
#tel {
	width:104px;
	height:16px;
	background-repeat:no-repeat;
	background-position:left;
	background-image:url(../imagenes/primerpantalla/tel.png);
	float:left;
	margin-left:170px;
	margin-top:14px;
	}
#tel p{
	margin-top:-5px;
	margin-left:25px;
	color:#FFF;
	font-family: 'keep_calm_medregular';
	font-size:16px;
	}
#wapp {
	width:160px;
	height:24px;
	background-repeat:no-repeat;
	background-position:left;
	background-image:url(../imagenes/primerpantalla/wapp.png);
	float:left;
	margin-left:150px;
	margin-top:7px;
	}

#wapp p{
	margin-top:-5px;
	margin-left:25px;
	color:#FFF;
	font-family: 'keep_calm_medregular';
	font-size:16px;
	}
#direccion {
	float:left;
	}
#direccion p{
	margin-top:5px;
	margin-left:90px;
	color:#FFF;
	font-family: 'keep_calm_medregular';
	font-size:15px;
	}
#copy {
	float:left;
	margin-left:140px;
	margin-top:-110px;
	width:400px;
	height:150px;
	}
#by {
	float:left;
	margin-left:70px;
	margin-top:0px;
	}
#copytexto p {
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	margin-left:-80px;
	margin-top:100px;
	font-size:12px;
	}
#redes {
	float:right;
	margin-top:-110px;
	margin-right:90px;
	}
#fb:hover {

	background-image:url(../imagenes/primerpantalla/fbh.png);
	background-position:center;
	background-repeat:no-repeat;
	
	}
#gm:hover {

	background-image:url(../imagenes/primerpantalla/gmh.png);
	background-position:center;
	background-repeat:no-repeat;
	
	}
#tw:hover {

	background-image:url(../imagenes/primerpantalla/twh.png);
	background-position:center;
	background-repeat:no-repeat;
	
	}
#ins:hover {
	background-image:url(../imagenes/primerpantalla/insh.png);
	background-position:center;
	background-repeat:no-repeat;
	
	}
#logomed {
	float:right;
	margin-top:-30px;
	margin-right:100px;
	}
#fb img:hover{
	opacity:0;
	transition:.2s;}
#tw img:hover{
	opacity:0;
	transition:.2s;}
#gm img:hover{
	opacity:0;
	transition:.2s;}
#ins img:hover{
	opacity:0;
	transition:.2s;}